name: Flask CICD

# 觸發條件
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# 執行一項或多項任務
jobs: 
  Stop-Containers:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    # 遠端部署
    - name: stop nginx container
      run: 
        docker container stop $(docker container ls -q --filter name=nginx_container)
    - name: stop flask container
      if: always()
      run:
        docker container stop $(docker container ls -q --filter name=flask_container)
    - name: prune containers
      if: always()
      run:
        docker container prune -f
  CD:
    runs-on: self-hosted
    needs: Stop-Containers
    if: always()
    steps:
    - name: where am I
      run:
        pwd 
    # defaut: C:\www\PointCloudApi\actions-runner\PointCloudApi\PointCloudApi\
#     - name: route to githubProject
#       run:
#         cd C:\Users\yun\githubProject 

#     - name: set workdir
#       run: |
#         working-directory: C:\Users\yun\githubProject

    - name: clone source code
      run:
        git clone https://github.com/yam8572/PointCloudApi.git
        
    - name: route to project
      run:
        cd ./PointCloudApi
    # defaut: C:\www\PointCloudApi\actions-runner\PointCloudApi\PointCloudApi\PointCloudApi
    
    - name: docker compose up 
      run:
        # -d: 在後台執行該服務
        docker-compose up -d --build
        
    - name: route back
      run:
        cd .. 
        
    - name: remove project folder
      run:
        rm -rf PointCloudApi
    
# if: always()>> always execute, and returns true, even when canceled.
